<launch>

	<!--ARDUINO_PC-->
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output = "screen"> 
        <param name="port" value="/dev/arduino_mega"/>
        <param name="baud" value="15200"/>
    </node>

	<!--ROBOT DRIVER-->
	<node pkg = "robotcraft2018_driver_g20" name = "amazebot_driver_node" type = "amazebot" output = "screen"/>
	<node pkg = "robotcraft2018_driver_g20" name = "square_test_node" type = "square_test" output = "screen"/>
    
	<!--ROBOT_DISPLAY-->
	<param name="robot_description" textfile="$(find robotcraft2018_robot_description)/urdf/robotcraft2018.urdf" />
      
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robotcraft2018_robot_description)/robotcraft2018_robot.rviz" />

	<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
            <remap from="joint_state" to="joint_state"/>
            <param name="publish_frequency" type="double" value="15.0"/>
    </node>
</launch>