<launch>

	<node pkg="robotcraft2019_driver_g03" type="robot_driver" name="robot_driver_node" output="screen"/>
	<node pkg="robotcraft2019_driver_g03" type="square_test" name="square_test_node" output="screen"/>

	<include file="$(find robotcraft2019_robot_description)/launch/display_robotcraft2019.launch"/>

</launch>