<launch>

	<node pkg="stage_ros" type="stageros" name="stage_ros_node" args="$(find amazebot-ros-driver)/worlds/rooms.world" />
	<node pkg="amazebot-ros-driver" type="amazebot" name="amazebot_node" output="screen"/>

	<include file="$(find amazebot-model-description)/launch/display_robotcraft2019.launch"/>

</launch>